.landing{
    display: flex;
    justify-content: center; /* Centers horizontally */
    // align-items: center;     /* Centers vertically */            
    // margin-left: 200px;
   h1 {
     padding-right: 50px;
   }
}
