.contanier{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
   
}

.header{
  text-align: center;
  margin-bottom: 12px;
  font-size: 28px;
  font-weight: 600;
  color: #4052b2;
  background: #f0f0f0;
  border-radius: 12px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.08);
  width: 1200px;
  max-width: 100%;
  padding: 16px;  
}

.example {
  display: table;
  margin: auto;
  width: 1200px;
}
.k-stepper {
  align-self: center;
}
.k-step {
  pointer-events: none;
}
.k-button.prev {
  margin-right: 16px;
}
.k-form-separator {
  margin-top: 40px;
}
.k-buttons-end {
  justify-content: space-between;
  align-content: center;
}
.page {
  align-self: center;
}