
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.
@use './app/components/kendo-scheduler/kendo-scheduler.scss';
// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.elevation-classes();
@include mat.app-background();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$angular-signals-course-primary: mat.m2-define-palette(mat.$m2-indigo-palette);
$angular-signals-course-accent: mat.m2-define-palette(mat.$m2-pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$angular-signals-course-warn: mat.m2-define-palette(mat.$m2-red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$angular-signals-course-theme: mat.m2-define-light-theme((
  color: (
    primary: $angular-signals-course-primary,
    accent: $angular-signals-course-accent,
    warn: $angular-signals-course-warn,
  ),
  typography: mat.m2-define-typography-config(),
  density: 0
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($angular-signals-course-theme);

/* You can add global styles to this file, and also import other style files */

html, 
body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


nav{
  background-color: white;
  box-shadow: 3px 3px 5px rgba(0,0,0,0.1);
}
nav ul{
  width: 95%;
  list-style:none;
  display:flex;
  justify-content: flex-end;
  align-items: center;  
} 
nav li{
  height: 50px;
}
nav a {
  height: 100%;
  padding: 0 30px;
  text-decoration: none;
  display: flex;
  align-items: center;
  color:black;
  
}
nav a:hover{
  background-color: #f0f0f0;
}

.sidebar{
  position: fixed;
  top:0;
  right:0;
  height:100vh;
  width:250px;
  z-index:999;
  background-color: rgba(255,255,255,0.2);
  backdrop-filter: blur(10px);
  box-shadow: -10px 0 10px rgba(0,0,0,0.1);
  display: none;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.sidebar li{
  width:100%;  
}
.sidebar a {
  width:100%;
}
.menu-button{
  display: none;
}
@media(max-width: 800px){
  .hideOnMobile{
    display: none;
  }
  .menu-button{
    display: block;
  }
}
@media(max-width:400px){
  .sidebar{
    width:100%
  }
}

footer {
  background-color: #333; /* Dark background */
  color: white; /* White text */
  text-align: center; /* Centers the text within the footer */
  padding: 10px 0; /* Adds vertical padding */
  width: 100%; /* Ensures the footer spans the full width */
  margin-top: 100px;
}

footer a {
  color: #4da6ff; /* Styles links within the footer */
  text-decoration: none; /* Removes underlines from links */
  margin: 0 10px;
}